/*--FONT--*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Gravitas+One|Over+the+Rainbow|Special+Elite');


body {
   font-family: 'Special Elite', cursive; 
}

h1, h2 {
   font-family: 'Gravitas One', cursive; 
}

h3, .tagline {
font-family: 'Over the Rainbow', cursive;    
}

p {
  font-family: 'Dosis', sans-serif;  
}