/*---------------FONT---------------*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Gravitas+One|Over+the+Rainbow|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Dosis:500,600');
@import url('https://fonts.googleapis.com/css?family=Satisfy');


body {
    font-family: 'Special Elite', cursive;
    color: #313150;
}

h1,
h2 {
    font-family: 'Gravitas One', cursive;
}

h3,
.tagline {
    font-family: 'Satisfy', cursive;
}

p,
dt,
dd,
nav,
.progress {
    font-family: 'Dosis', sans-serif;
}

.color--light {
    color: #fff
}


/*---------------LINK TEXT---------------*/

.a-style {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #313150;
}

.a-style:hover {
    text-decoration: none;
    color: #8e90a5;
}

a>span {
    font-size: .9rem;
    color: #8e90a5;
}


/*---------------BUTTON---------------*/

.button-style {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    font-size: .9rem;
    border: 3px double #fff;
    background-image: linear-gradient(#313150, #313145);
    box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);
}

.button-style--light {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    color: #313150;
    padding: 6px;
    border-radius: 10px;
    font-size: .9rem;
    border: 3px double #313150;
    background-image: linear-gradient(#f4f4f4, #e1e1e1);
    box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);
}


.button-style:hover {
    color: #e1e1e1;
    border: 3px double #e1e1e1;
}

.button-style--light:hover {
    color: #8e90a5;
    border: 3px double #8e90a5;
}


/* WHERE: Double border css from stack overflow https://stackoverflow.com/questions/21074202/create-a-button-with-a-double-border*/

/* WHY: Used rem for margin to be in line with bootstrap spacing utilities. */

/*---------------MARGIN PADDING ALIGNMENT BORDERS---------------*/

dl,
p,
figure {
    margin: 0;
}

h1 {
    text-align: right;
}

h3,
figure,
figcaption {
    text-align: center;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 1.5rem;
}

h3,
figcaption {
    margin-top: 1.5rem;
}

header {
    margin-top: 3rem;
}


.card {
    margin-bottom: 3rem!important;
}

/* WHY: Important used to overwrite bootstrap. */

/* WHY: Used rem for margin to be in line with bootstrap spacing utilities. */


.border--light {
    border: solid thin white;
}

dt>i {
    margin-right: 1rem;
}

dd {
    margin-bottom: 1.5rem;
}
/*---------------BACKGROUND---------------*/

.wrap {
    width: 100vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* shadow code from https://codepen.io/sdthornton/pen/wBZdXq*/

.background--hero {
    min-height: 50vh;
}



.background--ivy {
    background: url("../images/ivy3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: right;
    color: #fff;
}

.background--light {
    background-color: #fff;
}

.background--stone {
    background-image: linear-gradient(to right, #f4f4f4, #e1e1e1);
}

/*linear-gradient code from w3schools https://www.w3schools.com/css/css3_gradients.asp*/

.background--dark {
    background-image: linear-gradient(to right, #313145, #313150);
}

.background--stonebox {
    /*background-image: linear-gradient(to right, #f4f4f4, #e1e1e1);*/
    background-color: #f4f4f4;
    border-radius: 15px;

    border: solid thin #e1e1e1;

}

.card-header,
.card-footer,
.card-body {
    background-color: #fff;
    border-bottom: none;
    border-top: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.card-text {
    padding: 20px;
}

.border-color--transparent>.card {
    border-color: transparent;
}

/*---------------DIVIDER---------------*/

.divider {
    width: 200px;
    height: 1px;
    border: 0;
    background-color: #8e90a5;
}

.divider--light {
    width: 200px;
    height: 1px;
    border: 0;
    background-color: #f4f4f4;
}

/*----------FONT SIZES----------*/

h1 {
    font-size: 3rem;
}


h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

.tagline {
    font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3.5rem;
    }
     h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    .tagline {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.8rem;
    }
     .tagline {
        font-size: 2.25rem;
    }
}


i {
    font-size: 1.75rem;
}

dt>i {
    font-size: 1.25rem;
}

.fa-star {
    font-size: .75rem;
}

.modalbody span i {
    font-size: 2rem;
}
/* FIX!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/*----------FOOTER----------*/


footer * a {
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}


a:hover {
    text-decoration: none
}

/* WHY: Hover formatting taken from navbar. */

/*----------TESTING----------*/

.testr {
    border: solid thin red;
}

.testg {
    border: solid thin green;
}

.testb {
    border: solid thin blue;
}


/*----------NAVBAR----------*/

.navbar {
    padding: 0;
    background-color: #fff;
}

.navbar-brand,
.navbar-toggler {
    padding: 0;
    border: 0;
}


.navbar-toggler {
    margin-right: 1rem;
}





button.navbar-toggler:focus {
    outline: 1px none;
}

/* WHERE: CSS to remove outline from stack overflow https://stackoverflow.com/questions/50668594/removing-the-border-color-of-the-navbar-toggler-hamburger-icon-bootstrap-4/50668740*/

a>i,
.navbar-toggler>i {
    color: #313150;
    text-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);
        margin-right: .75rem;
}

/* WHY: 1px used for subtle shadow. rgba is #313150. */
/* WHY: Margin used for spacing rather than padding to reduce channce of selecting wrong icon.*/

a>i:hover,
.navbar-toggler>i:hover,
.nav-item:hover {
    color: #8e90a5;
    border: 0;
    text-decoration: none;
}

.nav-item {
    color: #313150;
}

.navbar-nav {
    line-height: 2.5rem;
}
/* WHY: default line height increased to improve usability. */

/*.fa-bars:before {
    margin-right: 1rem;
}*/

/*----------MODAL----------*/

.progress {
    height: 1.5rem;
    margin: 5px;
}

.progress-bar {
    text-align: left;
    text-size: 1.1rem;
    padding: 10px;
    /*height: 2rem;*/
    background-image: linear-gradient(to right, #313145, #313150);
}


