/*---------------FONT---------------*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Gravitas+One|Over+the+Rainbow|Special+Elite');

body {
    font-family: 'Special Elite', cursive;
    color: #202020
}

h1,
h2 {
    font-family: 'Gravitas One', cursive;
}

h3,
.tagline {
    font-family: 'Over the Rainbow', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

.color--light {
    color: #fff
}

/*---------------MARGIN PADDING---------------*/

.row,
.comtainer {
    margin: 0;
    padding: 0;
}


/*---------------BACKGROUND---------------*/

.background--ivy {}

.background--light {
    background-color: #fff
}

/*linear-gradient code from w3schools https://www.w3schools.com/css/css3_gradients.asp*/
.background--stone {
    background-image: linear-gradient(to right, #f4f4f4, #e1e1e1);
}


/*linear-gradient code from w3schools https://www.w3schools.com/css/css3_gradients.asp*/
.background--dark {
    background-image: linear-gradient(to right, #313149, #020202);
}



/*---------------DIVIDER---------------*/

.divider {
    width: 150px;
    height: 1px;
    border: 0;
}


/*---------------READ MORE---------------*/

/*read more code from w3schools https://www.w3schools.com/howto/howto_js_read_more.asp*/

#more {
    display: none;
}


/*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px) {
    .font-script {
        /*font-size: 1.5em;*/
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        /*font-size: 3em;*/
    }
}

@media (min-width: 992px) {
    .font-script {
        /*font-size: 2em;*/
    }
}

@media (min-width: 992px) {
    h1 {
        /*font-size: 3.5em;*/
    }
}



/*----------TESTING----------*/

.test {
    border: solid thin red;
}











